@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div>
        Sin ratio
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/WpbBhTx5R9Q?si=CgBgQ0IxpjoQ3fe1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <div>
        Con ratio 16x9
    </div>

    <div class="ratio ratio-16x9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WpbBhTx5R9Q?si=CgBgQ0IxpjoQ3fe1" allowfullscreen></iframe>
    </div>
    <hr />

    <div class="row gy-4">
        <div class="col-md-4">
            <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WpbBhTx5R9Q?si=CgBgQ0IxpjoQ3fe1" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WpbBhTx5R9Q?si=CgBgQ0IxpjoQ3fe1" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-4">
            <div class="ratio ratio-16x9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WpbBhTx5R9Q?si=CgBgQ0IxpjoQ3fe1" allowfullscreen></iframe>
            </div>
        </div>
    </div>


</div>

